<!doctype html>
<html ng-app="myApp">

<head>
    <title>InfoTrack</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <!--angular & Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="ResultController.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="main" ng-app="myApp">
    <div ng-controller="resultController">
        <div class="head">
            <!-- head -->
            <img class="col-md-2 row" align="right" src="https://www.todaysconveyancer.co.uk/wp-content/uploads/sites/2/2016/05/InfoTrack-main1NEW.jpg" />
            <br>
            <br>
            <br>
            <br>
            <h2> Google Scraping Tool </h2>
        </div>
        <div class="form-group">
            <label for="search">Search Input:</label>
            <input type="text" class="form-control" ng-model="search">
        </div>
        <div class="form-group">
            <label for="url">URL:</label>
            <div class="input-group">
                <span class="input-group-addon">http://</span>
                <!--/ breaks the html get so put this here to stop users using it (temp solution, the solution will return the http:// in the urls anyway) -->
                <input type="text" class="form-control" ng-model="address">
            </div>
        </div>
        <button class="btn button-primary" ng-click="getResults(address,search)">Find Results</button>
        <div ng-if=loading>
            <div ng-if="results==null" class="loader"></div>
        </div>
        <br>
        <div class="tablemargin" ng-if="results!=null">
            <div class="panel table-responsive">
                <table class="table table-curved">
                    <thead class="thead">
                        <tr>
                            <!--table headers -->
                            <th> Google Ranking </th>
                            <th> URL</th>
                        </tr>
                    </thead>
                    <tbody class="tbackground" ng-repeat="result in results | orderBy: position">
                        <!--create a row for each result -->
                        <tr>
                            <td>{{result.position | number}} </td>
                            <td>{{result.url}} </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p class="info"> The address '{{address}}' appears {{count}} {{time}} in the top 100 google results </p>
            </div>
        </div>
    </div>
</body>

</html>
