.loader {
    /*stole this from https://www.w3schools.com/howto/howto_css_loader.asp */
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #2193B8;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.head {
    text-align: center;
    padding-bottom: 100px;
    position: center;
    color: #2193B8;

}
.thead{
	color: #FBB16A;
	background-color: #2193B8;
}
.main{
	padding:100px;
}

.tbackground{
    background-color: #E2E9F3;
    padding: 10px;
}
.info{
    text-align: right;
    color: #2193B8;
}
.button-primary{
    color: #FBB16A;
    background-color: #2193B8;
    font-weight: bold;
}

.button-primary:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
